.carta {
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.carta:hover {
    transform: rotateY(180deg);
}
input[type = "radio"]{
    display:none;
}

form{
    display: inline-flex;
    flex-direction: column;
}

section.servicios {
    justify-content: center;   
}

.clasificacion{
    direction: rtl;/* right to left */
    unicode-bidi: bidi-override;/* bidi de bidireccional */
}

main form p.clasificacion label{
    color: rgb(85, 82, 82);
    font-size: 3em;
}

main form p.clasificacion label:hover{
    color:orange;
}

input[type = "radio"]:checked ~ label{
    color:orange;
}

.cfrente {
    backface-visibility: hidden;
}
.catras {
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
section.carta section {
    transition: 0.5s ease;
}
.clasificacion{
    direction: rtl;/* right to left */
    unicode-bidi: bidi-override;/* bidi de bidireccional */
}
section.carta section {
    width: 380px;
    height: 350px;
    box-sizing: border-box;
    margin: 20px 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    transition: 0.5s ease;
    z-index: 0;
}

section.carta section img {
    border-bottom: 2px solid black;
}
